@import "../../App.scss";


.infodiv{
    .name{
        font-weight: 600;
        font-family: $primaryFont;
        font-size: 1.2em;
    }

    .edit{
       text-align:right;
    }
    background-color: #f7f7f7;
    border-radius: 30px;
    padding:0 3% 10% 3%;
    margin: 10% 5%;
}