
.background{
     position: absolute;
     z-index: -10;
     opacity: .5;
    height: 100vh;
    width: 100vw;
    
}

.form-div-home{
    background-color: white;
    
    margin:0% 35%;
    padding:2% 3%;
    text-align: center;
    border: 3px  solid #ff8400;
    border-radius: 10px;
    h1{
        margin:1% 0 10% 0;
    }
    p{
        line-height: 1.5;
    }
    .mobilenumberinput{
        width: 100%;
        margin:8% 0;
    }
    .otpinput{
        width: 100%;
    }
    .personalinfoinput{
        width: 100%;
        margin:3% 0;
    }
    .resendbutton{
        display: block;
    }
    .submitbutton{
        margin:5% 0;
        width: 35%;

    }
    .genderInput{
        margin:0 0 5% 0;
        width: 100%;
    }
    .pheading{
        font-weight: bolder;
        font-size: 1.5em;
    }
    
}

.form-div{
    background-color: white;
    
    margin:5% 35%;
    padding:2% 3%;
    text-align: center;
    border: 3px  solid #ff8400;
    border-radius: 10px;
    h1{
        margin:1% 0 10% 0;
    }
    p{
        line-height: 1.5;
    }
    .mobilenumberinput{
        width: 100%;
        margin:8% 0;
    }
    .otpinput{
        width: 100%;
    }
    .personalinfoinput{
        width: 100%;
        margin:3% 0;
    }
    .resendbutton{
        display: block;
    }
    .submitbutton{
        margin:5% 0;
        width: 35%;

    }
    .genderInput{
        margin:0 0 5% 0;
        width: 100%;
    }
    .pheading{
        font-weight: bolder;
        font-size: 1.5em;
    }
    
}


@media (max-width: 992px) {
    .form-div{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }

    .form-div-home{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }

}
@media (max-width: 768px) {

    .form-div{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }

    .form-div-home{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }
}
@media (max-width: 576px) {
    .form-div{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }

    .form-div-home{
        margin:15% 10%;
        padding:2% 5%;
        text-align: center;
        border: 2px  solid #ff8400;
        border-radius: 10px;
        .checkbox{
            font-size: 1.5em;
        }
        h1{
            margin:10% 0 10% 0;
            font-size: 1.5em;
        }
        p{
            line-height: 1.5;
        }
        .mobilenumberinput{
            width: 100%;
            margin:8% 0;
        }
        .submitbutton{
            margin:15% 0;
            width: 50%;
        }
    }
}